./data/
/CIFAR_dpp/data/
/CIFAR_dpp/data/dpp_edge_CIFAR_results/
/CIFAR_dpp/data/dpp_node_CIFAR_results/
/CIFAR_dpp/data/rand_edge_CIFAR_results/
/mnist_dpp/data/dpp_edge_MNIST_results/
/mnist_dpp/data/dpp_node_MNIST_results/
/mnist_dpp/data/rand_edge_MNIST_results/
/mnist_dpp/data/
/figures/
/final_figures/
/results/
/archived/
