./data/
/CIFAR_dpp/data/
/mnist_dpp/data/
/figures/
/final_figures/
/results/
/archived/
/CIFAR_dpp/dpp_edge_CIFAR_results/
/CIFAR_dpp/dpp_node_CIFAR_results/
/CIFAR_dpp/rand_edge_CIFAR_results/
/mnist_dpp/dpp_edge_MNIST_results/
/mnist_dpp/dpp_node_MNIST_results/
/mnist_dpp/rand_edge_MNIST_results/
/mnist_dpp/dpp_node_rwt_MNIST_results/
/mnist_dpp/dpp_edge_rwt_MNIST_results/
/CIFAR_dpp/dpp_node_rwt_CIFAR_results/
/CIFAR_dpp/dpp_edge_rwt_CIFAR_results/

/mnist_dpp/*.csv
/CIFAR_dpp/*.csv
